h1 {
    color: rgb(216, 17, 90);
    font-size: 75px;
}

.sheet {
    /* background-color: rgb(155, 197, 235); */
    width: 200px;
    border: 5px dotted blue;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.sheet p {
    text-align: center;
}

.new {
    color: white;
    background-color: red;
    height: 45px;
    width: 45px;
    padding: 1px;
    position: absolute;
    top: -20px;
    right: -20px;
    display: flex;
    align-items: center;
    border-radius: 40px;
}
